*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}


/* inizio conteiner */
.container{
    width: 55%;
    margin: 0% auto;
    background-color: white;
}

.marg {
    margin-top: 2%;
    height: 5em;
    background-color: #e579e6;
}

.marg2 {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 20em;
    background-color: #e1d67a;
}


.cont-main {
    height: 25em;
}


.header-main {
    height: 3em;
    margin-bottom: 3px;
    background-color: lightskyblue;
   
}

/* float */

.float-s {
    float: left;
}


.clearfix ::after {
    content: '';
    display: table;
    clear: both;
}

/* inizio container float */


.color-blu {
    background-color: blue;
    padding-bottom: 5px;
}

.container-s, 
.container-d{
    width: 25%;
    height: 25em;
    background-color: #abcfe7;

}

.container-c {
    width: 47%;
    height: 25em;
    margin: 0 6px;
    background-color: #abcfe7;
  
    
}


/* footer */

.footer {
    margin-top: 0.5%;
    height: 2em;
    background-color: #8801fe;

}